In [46]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [47]:
import pandas as pd

from functions import *

pd.set_option('display.max_columns', None)

df_merged = pd.read_csv("data/df_merged_national.csv")

In [48]:
#df_merged.loc[:87, "Year"] = df_merged["Unnamed: 45"].iloc[:88].values

# Tuve que hacer esta pirula para que el csv 202019 y 202023 se puedan concatenar

In [49]:
df_merged = clean_df(df_merged)
df_merged = every_float_to_int(df_merged)

In [50]:
df_no_provincias = df_merged[(df_merged["region"] == "    DESCONOCIDA") | (df_merged["region"] == "    EN EL EXTRANJERO") | (df_merged["region"] == "    TOTAL NACIONAL")]

df_no_provincias.to_csv("data/df_no_provincias.csv", index=False)

In [51]:
df_merged = df_merged[~df_merged.index.isin(df_no_provincias.index)]

# df_merged.to_csv("data/df_merged_national.csv", index=False)

In [52]:
df_num = df_merged.iloc[:, df_merged.columns != 'region']

In [53]:
# df_num.corr()

df_merged.head()

,region,1_against_people,11_intentional_homicides_murders,111_intentional_homicides_murders_committed,12_injuries,13_domestic_violence,14_other_crimes_against_people,2_against_freedom,21_habitual_domestic_violence,22_other_crimes_against_freedom,3_sexual_freedom,31_sexual_assault,311_sexual_assault_with_penetration,32_corruption_of_minors_or_disabled,33_child_pornography,34_other_crimes_against_sexual_freedom,4_family_relationships,5_property_crimes,51_thefts,52_robbery_with_force,521_Robos_con_fuerza_en_las_cosas_en_el_interior_de_vehículos,522_robbery_with_force_in_homes,523_robbery_with_force_in_establishments,53_robbery_with_violence_or_intimidation,531_robbery_with_violence_in_public_ways,532_robbery_with_violence_in_homes,533_robbery_with_violence_in_establishments,54_vehicle_theft,55_fraud,551_computer_fraud,56_damage,57_against_intellectual_industrial_property,58_money_laundering,59_other_property_crimes,6_collective_security,61_drug_trafficking,62_against_road_safety,63_other_collective_security_crimes,7_forgeries,8_public_administration,9_justice_administration,10_public_order,11_special_legislation,12_other_criminal_offenses,year
0,ANDALUCÍA,45636,363,71,24848,19294,1131,32765,3007,29758,3473,2044,604,74,130,621,1702,289412,95492,47977,19215,14101,5953,7676,5028,630,1195,5957,84455,72795,35037,332,106,12380,16357,4790,11043,524,6596,99,8688,5455,141,2857,2023
1,ARAGÓN,6071,47,9,2949,2967,108,3139,301,2838,511,330,92,13,21,55,179,36261,10651,5550,1044,1955,747,1076,702,65,203,318,12353,10891,5095,23,4,1191,1651,552,1049,50,743,11,1056,967,5,271,2023
2,ASTURIAS (PRINCIPADO DE),4185,21,6,2235,1861,68,2421,92,2329,325,199,67,8,14,37,95,23761,7681,2581,586,990,561,424,216,44,109,259,8907,7897,2931,9,2,967,1047,190,779,78,439,4,838,511,5,257,2023
3,BALEARS (ILLES),10159,50,8,4495,5341,273,6339,678,5661,1050,709,156,21,32,132,237,53976,23009,6806,3195,1937,738,1519,994,82,228,1832,13522,10299,4912,89,7,2280,2871,776,1892,203,912,18,1667,914,3,363,2023
4,CANARIAS,15210,77,17,7847,6765,521,11181,1078,10103,1189,750,221,31,53,134,564,66962,26245,7853,2969,2120,1249,1858,1106,148,333,1451,19297,15752,7441,107,19,2691,3725,764,2802,159,1269,25,2295,1099,10,693,2023

In [54]:
# df_merged_dummies = pd.get_dummies(df_merged, columns=["region"])

# df_merged_dummies

In [55]:
df_merged = add_coordinates_from_dict(df_merged)

In [56]:
regions = {
    "ANDALUCÍA": 0,
    "ARAGÓN": 1,
    "ASTURIAS (PRINCIPADO DE)": 2,
    "BALEARS (ILLES)": 3,
    "CANTABRIA": 4,
    "CANARIAS": 5,
    "CASTILLA - LA MANCHA": 6,
    "CASTILLA Y LEÓN": 7,
    "CATALUÑA": 8,
    "CIUDAD AUTÓNOMA DE CEUTA": 9,
    "CIUDAD AUTÓNOMA DE MELILLA": 10,
    "COMUNITAT VALENCIANA": 11,
    "EXTREMADURA": 12,
    "GALICIA": 13,
    "MADRID (COMUNIDAD DE)": 14,
    "MURCIA (REGIÓN DE)": 15,
    "NAVARRA (COMUNIDAD FORAL DE)": 16,
    "PAÍS VASCO": 17,
    "RIOJA (LA)": 18
}


df_merged["region"] = df_merged["region"].replace(regions)

C:\Users\Iván\AppData\Local\Temp\ipykernel_36148\2512969448.py:24: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_merged["region"] = df_merged["region"].replace(regions)

In [57]:
df_merged.insert(0, "year", df_merged.pop("year"))

In [58]:
df_merged["avg_crimes"] = df_merged.iloc[:, 2:-4].mean(axis=1)      # [:, 2:-2] quiero -> todas las filas, desde la 2da hasta la penultima columna

In [59]:
df_merged = delete_sub_crimes(df_merged)

In [60]:
df_merged["Year - today"] = 2024 - df_merged["year"]

In [65]:
df_poblacion = pd.read_csv("data/cleaned_pop.csv")


df_poblacion.drop(["Nacional", "Sexo"], inplace=True, axis=1)

regions = {
    "01 Andalucía": 0,
    "02 Aragón": 1,
    "03 Asturias Principado de": 2,
    "04 Balears Illes": 3,
    "06 Cantabria": 4,
    "05 Canarias": 5,
    "08 Castilla - La Mancha": 6,
    "07 Castilla y León": 7,
    "09 Cataluña": 8,
    "18 Ceuta": 9,
    "19 Melilla": 10,
    "10 Comunitat Valenciana": 11,
    "11 Extremadura": 12,
    "12 Galicia": 13,
    "13 Madrid Comunidad de": 14,
    "14 Murcia Región de": 15,
    "15 Navarra Comunidad Foral de": 16,
    "16 País Vasco": 17,
    "17 Rioja La": 18
}


df_poblacion["region"] = df_poblacion["region"].replace(regions)

In [66]:
df_poblacion

         region  year      Total
0             0  2019  8.414.240
1             0  2018  8.384.408
2             0  2017  8.379.820
3             0  2016  8.388.107
4             0  2015  8.399.043
..          ...   ...        ...
185  19 Melilla  2014     84.509
186  19 Melilla  2013     83.679
187  19 Melilla  2012     80.802
188  19 Melilla  2011     78.476
189  19 Melilla  2010     76.034

[190 rows x 3 columns]

In [62]:
import pandas as pd

# Supongamos que ya tienes tus DataFrames df_merged y df_pop.

# Primero, convierte df_pop a formato largo si es necesario
df_pop_long = df_poblacion.reset_index().melt(id_vars='index', var_name='year', value_name='population')
df_pop_long.rename(columns={'index': 'region'}, inplace=True)

# Asegúrate de que la columna 'year' en df_pop_long y df_merged son del mismo tipo (ej. str)
df_pop_long['year'] = df_pop_long['year'].astype(str)
df_merged['year'] = df_merged['year'].astype(str)

# Ahora, realiza el merge
df_merged = df_merged.merge(df_pop_long, on=['region', 'year'], how='left')

In [63]:
# Verifica los resultados
df_merged

,year,region,1_against_people,2_against_freedom,3_sexual_freedom,4_family_relationships,5_property_crimes,6_collective_security,7_forgeries,8_public_administration,9_justice_administration,Latitude,Longitude,avg_crimes,Year - today,population
0,2023,0,45636,32765,3473,1702,289412,16357,6596,99,8688,37.3873,-5.9869,22361.317073,1,NaN
1,2023,1,6071,3139,511,179,36261,1651,743,11,1056,41.6488,-0.8891,2776.536585,1,NaN
2,2023,2,4185,2421,325,95,23761,1047,439,4,838,43.3619,-5.8494,1848.146341,1,NaN
3,2023,3,10159,6339,1050,237,53976,2871,912,18,1667,39.5712,2.6466,4146.804878,1,NaN
4,2023,5,15210,11181,1189,564,66962,3725,1269,25,2295,28.2916,-16.6291,5499.512195,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,2010,16,2726,675,130,82,13770,1059,259,21,235,42.6954,-1.6761,977.414634,14,NaN
262,2010,17,11792,4257,417,337,65555,3241,543,25,1170,43.2630,-2.9349,4515.878049,14,NaN
263,2010,18,1695,170,49,31,6555,519,54,0,137,42.2871,-2.5396,484.804878,14,NaN
264,2010,9,833,277,18,31,3053,1381,53,2,101,35.8894,-5.3198,300.804878,14,NaN
265,2010,10,1011,126,38,30,2810,304,42,1,70,35.2930,-2.9387,237.951220,14,NaN